<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>leftTitle</key>
		<string>场景</string>
		<key>leftKey</key>
		<array>
			<dict>
				<key>subTitle</key>
				<string>哄睡</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>起床</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>刷牙</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>礼貌</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string> 安全</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>吃饭</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>生病</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>洗澡</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>leftTitle</key>
		<string>故事</string>
		<key>leftKey</key>
		<array>
			<dict>
				<key>subTitle</key>
				<string>睡前故事</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>童话故事</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>成语故事</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>动物故事</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>leftTitle</key>
		<string>分类名称</string>
		<key>leftKey</key>
		<array>
			<dict>
				<key>subTitle</key>
				<string>标签名称</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签名称</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签名称</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签名称</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签名称</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签名称</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签名称</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签名称</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签名称</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>leftTitle</key>
		<string>分类名称</string>
		<key>leftKey</key>
		<array>
			<dict>
				<key>subTitle</key>
				<string>标签名称</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签名称</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签名称</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签名称</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签名称</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>leftTitle</key>
		<string>场景3</string>
		<key>leftKey</key>
		<array>
			<dict>
				<key>subTitle</key>
				<string>标签</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签</string>
			</dict>
			<dict>
				<key>subTitle</key>
				<string>标签</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
